body{
  background-image:linear-gradient(to right , #5858f4 ,#4582f1) ;
  /* background-image: url('./assets/weatherBg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}